:root {
    --burntOrange: #0437F2;
    --white: #FFFFFF;
}

body {
    margin: 0px;
}
.header {
    display:flex;
    flex-direction: row;
    padding: 20px;
    background-color: var(--burntOrange);
    color: var(--white);
    justify-content: space-between;
}

li {
    margin: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--white)
}

button {
    padding: 20px;
    border: var(--white) solid 1px;
    border-radius: 20px;
    background-color: var(--burntOrange);
    color: var(--white);

}

.footer {
    padding: 50px;
    font-size: 30px;
    text-align: center;
    background-color: var(--burntOrange);
    color: var(--white);
    border-radius: 3px;
}

img {
    height: 500px;
    max-width: 500px;
}

.body {
    margin: 10px;
    text-align: center;
}

.body-paragraph {
    font-size: 20px;
    max-width: 600px;
    text-align: center;
    margin: 0px  600px;
}